In [1]:
import os
import glob
import pandas as pd
os.chdir(r"C:\Users\USER") #Current working directory that contains your dataset and code file

In [2]:
extension = 'csv'
joined_files = os.path.join("C:/Users/USER/CSV/.csv")

In [3]:
# A list of all joined files is returned
joined_list = glob.glob("C:/Users/USER/CSV/*.csv", recursive=False)

In [4]:
print(joined_list)

['C:/Users/USER/CSV\\Abuja_Branch.csv', 'C:/Users/USER/CSV\\Lagos_Branch.csv', 'C:/Users/USER/CSV\\Port-Harcourt _Branch.csv']

In [5]:
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)

In [6]:
df.to_csv('branches.csv', index=False)

In [7]:
df=pd.read_csv('branches.csv')

In [8]:
df.head()

,Unnamed: 0,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,0,692-92-5582,B,Abuja,Member,Female,Food and beverages,19742.4,3,2961.36,62188.56,2/20/2019,13:27,Card,59227.2,4.761905,2961.36,5.9
1,1,351-62-0822,B,Abuja,Member,Female,Fashion accessories,5212.8,4,1042.56,21893.76,2/6/2019,18:07,Epay,20851.2,4.761905,1042.56,4.5
2,2,529-56-3974,B,Abuja,Member,Male,Electronic accessories,9183.6,4,1836.72,38571.12,3/9/2019,17:03,Cash,36734.4,4.761905,1836.72,6.8
3,3,299-46-1805,B,Abuja,Member,Female,Sports and travel,33739.2,6,10121.76,212556.96,1/15/2019,16:19,Cash,202435.2,4.761905,10121.76,4.5
4,4,319-50-3348,B,Abuja,Normal,Female,Home and lifestyle,14508.0,2,1450.80,30466.80,3/11/2019,15:30,Epay,29016.0,4.761905,1450.80,4.4